<div class="search">
    <h5 class="heading">How can we help you today?</h5>
    <div class="row">
        <div class="col-md-8 col-sm-9 col-xs-8 searchinput">
            <div class="searchInput">
                <input autocomplete="off" type="text" id="search" placeholder="search..."
                    class="form-control custom-search">
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-4 d-sm-flex d-md-block info">
            <a href="#" class="custom-info"><i class="fa fa-comments fa-1x " aria-hidden="true"></i>&nbsp; <span class="d-md-inline d-sm-none d-xs-none">Support Forum</span></a><br>
            <a href="#" class="custom-info"><i class="fa fa-envelope fa-1x" aria-hidden="true"></i>&nbsp; <span class="d-md-inline d-sm-none d-xs-none">support@jijitechnologies.com</span></a>
        </div>
    </div>
</div>